<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/formServico.js"></script>
    <title>Formulário</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="assets/img/imagem-capa.jpg" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <!-- <div class="login-button">
                        <button><a href="#">Entrar</a></button>
                    </div>-->
                </div>

                <div class="input-group">

                    <div class="input-box">
                        <label for="firstname">Nome</label>
                        <input id="nome" type="text" name="nome" placeholder="Digite seu primeiro nome"
                            required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">CPF</label>
                        <input id="cpf" type="text" name="cpf" placeholder="Digite seu sobrenome" required>
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>

                    <div class="input-box">
                        <label for="number">Celular</label>
                        <input id="celular" type="tel" name="celular" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="senha" type="password" name="senha" placeholder="Digite sua senha" required>
                    </div>

                    <div class="input-box">
                        <label for="cep">CEP</label>
                        <input id="cep" type="" name="cep"
                            placeholder="Digite sua senha novamente" required>
                    </div>

                </div>

                <div class="form-group">
                    <label for="options">Selecione uma categoria</label>
                    <select id="categoria" name="options" required>
                        <option value="">Escolha uma opção</option>
                        <option value="1">Opção 1</option>
                        <option value="2">Opção 2</option>
                        <option value="3">Opção 3</option>
                        <option value="4">Opção 4</option>
                        <option value="5">Opção 5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Descrição</label>
                    <textarea id="descricao" name="descricao" required></textarea>
                </div>

                <div class="form-group">
                    <label for="description">informacoes Complementares</label>
                    <textarea id="informacoesComplementares" name="informacoesComplementares" required></textarea>
                </div>

                <div class="form-group">
                    <label for="attachment">Anexo</label>
                    <input type="file" id="Anexo" name="Anexo">
                </div>

                <div class="continue-button">
                    <button onclick="salvarServico()"><a href="#">Continuar</a> </button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>